.fytail{height: 1.72rem;padding-top: 0.853333rem;background-color: #f9f9f9;padding-left: 0px;padding-right: 0px;}
.titlezi{font-size: 0.453333rem;color: #666666;margin-left: 3.04rem;}
.fyxqfh{padding: 0 0 !important;color: #676767;margin-left: 0.333333rem !important;width:0.28rem;line-height:0.48rem;margin-right: 0 !important;}
.fyzhuti{position: absolute;top: 1.706666rem;bottom:0;left:0;right:0;padding-top: 0px !important;overflow: auto;}
.fyxqyi{position: absolute;top: 0px;bottom: 0px;left: 0px;right: 0px;}
#slider{
	height: 5.813333rem;
}
.imglunbo{color: #ffffff;font-size: 0.293333rem;text-align: right;padding-right: 0.626666rem !important;}
.fuxqxx{border-bottom: 1px solid #dbdbdb;min-height: 9.906666rem;height: auto;padding-bottom: 0.2rem;}
.fyxqxxyiu{height: 1.666666rem;height: 2.266666rem;width:9.2rem;display: flex;justify-content: space-between!important;margin: 0 auto 0;}
.fyxqxxyiu p{display: flex;display: -webkit-flex;align-items: center;border-bottom: 1px solid #e5e5e5;height: 100%;color: #282828;font-size:0.453333rem;}
.fyxqxxyiu p:first-child{width: 6.133333rem;justify-content: center;flex-direction: column;-webkit-flex-direction: column;}
.fyxqxxyiu p:first-child span{
	width: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.fyxqxxyiu p:first-child .fybh{margin-bottom: 0.333333rem;}
.qysq_wz{font-size: 0.346666rem;color: #999999;}
.qysq_wz i{
	position: relative;
	display: inline-block;
	font-style: normal;
}
.qysq_wz .qy_sq:after{
	content: "";
	display: inline-block;
	height: 0.346666rem;
	width: 0.026666rem;
	background: #3e3e3e;
	position: absolute;
	top: 50%;
	margin-top: -0.173333rem;
	right: -0.266666rem;
}
.fyxqxxyiu p:first-child span:last-child{position: relative;overflow: initial;}
.fy_wz{
	position: absolute;
	top: 0.06rem;
	left: 0.466666rem;
	width: 0.44rem;
	height: 0.413333rem;
	background: url(../img/fy_wz.png) no-repeat center;
	background-size: auto 100%;
}
.fyxqxxer{height: 1.533333rem;}
.fyxqxxer ul{border-bottom: 1px solid #e5e5e5;height: 100%;margin-left: 0.506666rem;width: 8.92rem;display: flex;align-items: center;}
.fyxqxxer ul li{width: 33.33%;position: relative;padding-left: 0.36rem;}
.fyxqxxer ul li:after{content: "";display: block;width: 1px;height: 0.906666rem;background-color: #e5e5e5;position: absolute;top: 50%;right: 0px;margin-top: -0.453333rem;}
.fyxqxxer ul li:last-child:after{display: none;}
.danjia{font-size: 0.346666rem;color: #919191;}
.danyuan{font-size: 0.4rem;margin-top: 0.12rem;color: #f4513e;}
.fyxqxxsan{margin-top: 0.386666rem;padding-left: 0.506666rem;}
.zhognxiu{height: 0.373333rem;display: flex;text-align: center;align-items: center;}
.zhognxiuyi{ display: flex;height: 100%;}
.zhognxiuyi i{font-style: normal;border: 1px solid #daeefd;background-color: #daeefd;border-radius: 5px;line-height: 100%;height: 100%;text-align: center;font-size: 0.266666rem;color: #20a0ff;padding-left: 0.12rem;padding-right: 0.12rem;padding-top:0.04rem;}
.kezhuce{ border: 1px solid #e8f2eb;background-color: #e8f2eb;border-radius: 5px;line-height: 100%;height: 100%;text-align: center;font-size: 0.266666rem;color: #3db894;margin-left:0.186666rem;padding-left: 0.12rem;padding-right: 0.12rem;padding-top:0.04rem;}
.fyxqxxsan ul{margin-top: 0.4rem;}
.stkrgw{width: 50%;}
.fyxqxxsan ul li{display: flex;height:0.853333rem;height: auto;padding-bottom: 0.3rem;}
.fyxqxxsan ul li p span{font-size: 0.373333rem;}
.kognwrgwei{color: #919191;}
.kognwrgwei i{font-style: normal;}
.neirong{color: #282828;}
.wuyfsdceng{height: 0.293333rem;background-color: #dfdfdf;}
.xshogwen{height: 2.213333rem;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;padding-left:  0.506666rem;}
.xshgwedi{margin-top: 0.466666rem;display: flex;}
.xshgwedier{display: flex;width:1.893333rem;}
.xshgwedi span,.lianxfangs span{font-size: 0.373333rem;}
.lianxfangs{display: flex;margin-top: 0.386666rem;}
.lainsier{color: #282828;}
.liageda{position: absolute;top: 0px;left: 0px;right: 0px;bottom: 1.426666rem;overflow: auto;}
.shouc{height: 1.426666rem;border-top: 1px solid #dfdfdf;display: flex;position: absolute;bottom: 0px;left: 0px;right: 0px;}
.shouc p{width: 50%;height: 100%;line-height: 100%;text-align: center;display: flex;justify-content: center;align-items: center;}
.shoucengdianji{background-color: #302f35;}
.xmjx{background-color: #ff8c00;}
.xmjx a{width: 100%;height: 100%;line-height: 100%;text-align: center;display: flex;justify-content: center;align-items: center;}
.xindebg{width: 0.693333rem;display: flex;height: 0.56rem;}
.xindebgimg{background:url(../img/fav2.png) no-repeat;background-size: auto 100%;}
.choucdewezi{color:#FFFFFF;height: 0.493333rem;margin-left: 0.133333rem;font-size: 0.373333rem;display: flex;align-items: center;}
.choucdeweziwidth{width: auto;min-width: 0.8rem;}
.choucdeweziyiwidth{width: 1.2rem;}
.shouc p{display: flex;}
.xmjx a{display: flex;align-items: center!important;text-align: center;}
.lainxixingmql{font-size: 0.4rem;color: #FFFFFF;text-align:left;}
.xmjxlx{background:url(../img/shoucdianhuobg.png) no-repeat;background-size: auto 100%;width:0.533333rem;height:0.533333rem;}
.qieryun{height: 0.933333rem;width: 0.8rem;position: absolute;left: 0.133333rem;top: 4.9rem;background: url(../img/fyxqdatiqier.png)no-repeat center;background-size: 100% auto;z-index: 13;}
.qieryundisp{display: none;}
/*.qierldetu{display: flex;align-items: center;margin-right: 0.493333rem;justify-content: flex-end;}*/
.qierldetudisp{display: none!important;}
.qierldetu span{width:2.52rem !important;border-radius:1.3rem;height:0.853333rem;width:100%;display: flex;background: url(../img/fyxqwierlquankf.png)no-repeat center;background-size: auto 100%;box-shadow:0px 0px 5px #333333;}
.fyxqdebofangan{
	position: absolute;
	width: 100%;
	height: 5.813333rem;
	display: flex;
	top: 0px;
	align-items: center;
	justify-content: center;
}
.fyxqdebofangan i{
	width: 1.413333rem;
	height: 1.413333rem;
	display: flex;
	background:url(../img/fyxqboan.png) no-repeat;
	background-size: auto 100%;
}
